/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./public/CssModules/AuthPage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.AuthPage_wrap__I8um1 {
    width: 100ww;
    height: 100wh;
    grid-template-columns: 10fr 20fr 10fr;
    display: grid;
}


.AuthPage_center_block__3nKRq{
    margin: auto;
    margin-top: 100px;
    border: 1px black solid;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}

.AuthPage_center_button__FbU_C {
    width: 100%;
    margin-top: 10px;
}

.AuthPage_center_input__Yr0Fn {
    width: 100%;
    margin-top: 10px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./public/CssModules/Loading.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Loading_spinnerOverlay__YONnm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .Loading_spinner___AdZA {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: Loading_spin__FSTWt 1s linear infinite;
  }
  
  @keyframes Loading_spin__FSTWt {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
